.card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden; /*ocultar elementos que se sobresalgan del padre*/
  margin: auto;
}

.card__image {
  max-width: 282px;
  width: 100%;
  height: auto;
  background: black;

  object-fit: cover;
  margin: auto;
  margin-bottom: 0;
}
.card__container {
  display: flex;
  width: 100%;
  background-color: white;
}
.card__title {
  max-width: 250px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  padding-left: 21px;
  font-weight: 900;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.card__like-button {
  border: none;
  margin: auto;
  margin-right: 18px;
}
