.card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden; /*ocultar elementos que se sobresalgan del padre*/
  margin: auto;
}

.card__image {
  max-width: 282px;
  width: 100%;
  max-height: 252px;
  height: 252px;
  background: black;

  object-fit: cover;
  margin: auto;
  margin-bottom: 0;
  position: relative;
}

.card__button-delete {
  display: flex;
  margin-left: 245px;

  border: none;
  position: absolute;
  width: 28px;
  height: 28px;
  z-index: 1;
  background: none;
  padding-left: 0px;
  padding-top: 10px;
}
.card__container {
  display: flex;
  width: 100%;
  background-color: white;
}
.card__title {
  max-width: 250px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  padding-left: 21px;
  font-weight: 900;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
.card__like {
  border: none;
  margin: auto;
  margin-right: 26px;
  background-image: url(../images/like-button.svg);
  width: 25px;
  height: 20px;
  background-repeat: no-repeat;
}

.card__like-active {
  opacity: 1;
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart-filled.svg)
    center no-repeat;
  background-repeat: no-repeat;
}
