.container__editProfile {
  display: flex;
  justify-content: center;
  margin: auto;
}
.container__addButton {
  display: flex;
  justify-content: center;
  margin: auto;
}
.container__cardPopup {
  display: flex;
  justify-content: center;
  margin: auto;
}
