.popup {
  max-width: 430px;
  width: 100%;
  position: fixed;
  margin: auto;
  display: none;
  z-index: 5;
}
.popup__open {
  display: block;
}

.popup__button-close {
  display: flex;
  position: absolute;
  background: transparent;
  margin: auto;
  margin-left: 430px;
  margin-top: -40px;
  border: none;
  z-index: 5;
}
.cardClose {
  margin-left: 350px;
}
.addClose {
  margin-top: -20px;
}
.popup__button-close:hover {
  opacity: 60%;
}
.popup__form {
  height: 330px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px #00000026;
  margin: auto;
  border-radius: 10px;
  padding-left: 20px;
}
.popup__title {
  font-family: "Inter-Black";
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  color: #000000;
}
.popup__input {
  display: flex;
  max-width: 320px;
  color: black;
  border: 0;
  border-radius: 1px solid #bcbcc4;
  margin-top: 30px;
  box-sizing: border-box;
}
.popup__button-submit {
  max-width: 320px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  margin: auto;
  margin-top: 48px;
  border-radius: 2px;
  text-align: center;
}

.popup__button-submit:hover {
  opacity: 80%;
}

.popup__add {
  max-width: 430px;
  width: 100%;
  position: fixed;
  margin: auto;
  display: none;
  z-index: 2;
}
.popup__add-open {
  display: block;
}
.popup__form-add {
  background-color: #ffffff;
  height: 330px;
  padding-left: 30px;
  border-radius: 10px;
}

.popup__titleAdd {
  padding-top: 30px;
}

.popup__cards {
  position: fixed;
  margin: auto;
  display: none;
  z-index: 2;
}
.popup__card {
}

.popup__card-open {
  display: block;
}
.popup__card-image {
  max-width: 350px;
  margin: auto;
  height: auto;
}
.popup__description-card {
  color: #ffffff;
  font-size: 14px;

  margin-top: 5px;
  max-width: 200px;
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 500px) {
  .popup {
    max-width: 250px;
    width: 100%;
  }

  .popup__button-submit {
    max-width: 210px;
    margin: auto;
    margin-top: 30px;
  }

  .popup__add {
    max-width: 250px;
    width: 100%;
  }
  .popup__card-image {
    width: 280px;

    height: auto;
  }
  .popup__button-close {
    display: flex;
    position: absolute;
    background: transparent;
    margin: auto;
    margin-left: 235px;
    margin-top: -40px;
    border: none;
    z-index: 5;
    width: 20px;
  }
  .addClose {
    margin-top: -15px;
  }

  .popup__description-card {
    margin-left: 20px;
  }
}
